.App {
  text-align: center;
}

main {
  display: flex;
}

header {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  padding: 10px;
}


.NavBar{
  background-color: black;
}

.NavBar a {
  color: white;
  text-decoration: none;
}

.NavBar a:hover {
  color: yellow;
  text-decoration: none;
}

.container div {
  padding: 20px;
}



.PokeList {
  display: flex;
  flex-direction: column;
}

.links {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

a:hover {
  text-decoration: none;
  font-size: 24px;
  color: red;
}

.links{
  background-color: beige;
  padding: 5px;
  border-radius: 24px;
  border: 2px solid black;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}



section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeCard {
  border: black 2px solid;
  width: 75%;
  padding: 20px;
}

.moves{
  display: flex;
  flex-wrap: wrap;
}
