.App {
  text-align: center;
}

main {
  display: flex;
}

header {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  padding: 10px;
}

.PokeList {
  display: flex;
  flex-direction: column;
}

.links {
  text-decoration: none;
  font-size: 24px;
  color: blue;
}

.links:hover {
  text-decoration: none;
  font-size: 24px;
  color: red;
}

.pokeCard {
  border: black 2px solid;
}

.moves{
  display: flex;
  flex-wrap: wrap;
}
