.App {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffcb05' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main {
  display: flex;
  background-color: blue;
  margin: 0;
}

header {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  padding: 10px;
}

.NavBar {
  background-color: black;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.NavBar img {
  height: 50px;

}

.NavBar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.NavBar a:hover {
  background-color: #fff;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;

}

.container div {
  padding: 20px;
}

.container li {
  list-style-type: none;
  text-decoration: none;
  border-radius: 10px;
  border: #3b4cca 2px solid;
  background-color: #fff;
  color: #3b4cca;
  font-size: 24px;
  padding: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container li:hover {
  background-color: #3b4cca;
  color: #fff;
}

.links {
  text-decoration: none;
  font-size: 16px;
}


section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pokeCard {
  background-color: #ffcb05;
  width: 350px;
  height: 330px;
  border: 10px #ffcb05 solid;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.background {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(59, 76, 202, 1) 35%, rgba(255, 255, 255, 1) 100%);
  height: 40%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background img {
  height: 200px;
  width: 200px;
}


.bonus-content {
  background-color: grey;
  border: 10px solid grey;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.content {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.moves {
  background-color: white;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}

.moves li {
  display: flex;
  padding: 5px;
}

.return {
  text-decoration: none;
  color: #fff;
  margin: 50px 0 25px 0;
  padding: 5px;
  background-color: #3b4cca;
  border-radius: 10px;
  height: 24px;
  font-size: 16px;

    background-color: #3b4cca;
    color: #fff;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 24px;
    align-items: center;

}

.return:hover {
  background-color: #fff;
  color: black;
  border: 1px black solid;
  margin: 50px 0 25px 0;
  padding: 5px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 24px;
  align-items: center;
}

.stats {
  background-color: #fff;
  list-style-type: none;
  text-align: left;
  border: 2px solid black;
  padding: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #cc0000;
  border-top: 40px solid #cc0000;
}

.battle-container {
  background-color: #fff;
  border-radius: 10px;
}

.battle-container img {
  width: 150px;
}

.pokedex {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.pokedex-link {
  background-color: #3b4cca;
  color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 24px;
  align-items: center;
}

.pokedex-link img {
  width: 40px;
}

.pokedex-link:hover {
  display: flex;
  background-color: #fff;
  border: black .05px solid;
  color: black;
  border-radius: 10px;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 24px;
  align-items: center;
}


.battle-intro img {
  width: 50px;
}

.headlines {
  background-color: #ffcb05;
  border-radius: 10px;
  padding: 5px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0px 100px 0px 100px;
  padding: 20px;
}

.cta img {
  width: 100px;
}

.battlefield {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 10px;

}

.pokemon {
  border: black solid 2px;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  margin: 20px;
  background-color: #fff;

}

.pokemon p {
  font-size: 24px;
  background-color: #ffcb05;
  font-style: italic;
}

form {
  background-color: #fff;
}

form input {
  height: 48px;
  border-radius: 10px;
  font-size: 24px;
  background-color: #fff;
}

form button {
  margin-left: 10px;
  border-radius: 10px;
  background-color: #3b4cca;
  padding: 10px;
  color: #fff;
  font-size: 24px;
}

form button:hover {
  margin-left: 10px;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  font-size: 24px;
}